parameters:
	ignoreErrors:
		-
			message: "#^Property loophp\\\\nanobench\\\\Benchmark\\<T\\>\\:\\:\\$arguments \\(array\\<int, T\\>\\) does not accept array\\<int\\|string, T\\>\\.$#"
			count: 1
			path: src/Benchmark.php

		-
			message: "#^Property loophp\\\\nanobench\\\\Benchmark\\<T\\>\\:\\:\\$return \\(T\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: src/Benchmark.php

		-
			message: "#^Result of method loophp\\\\nanobench\\\\Time\\\\StopwatchInterface\\:\\:stop\\(\\) \\(void\\) is used\\.$#"
			count: 1
			path: src/Benchmark.php

		-
			message: "#^Method loophp\\\\nanobench\\\\BenchmarkFactory\\:\\:fromCallable\\(\\) has parameter \\$arguments with no type specified\\.$#"
			count: 1
			path: src/BenchmarkFactory.php

		-
			message: "#^Method loophp\\\\nanobench\\\\BenchmarkFactory\\:\\:fromClosure\\(\\) has parameter \\$arguments with no type specified\\.$#"
			count: 1
			path: src/BenchmarkFactory.php

		-
			message: "#^Method loophp\\\\nanobench\\\\BenchmarkFactoryInterface\\:\\:fromCallable\\(\\) has parameter \\$arguments with no type specified\\.$#"
			count: 1
			path: src/BenchmarkFactoryInterface.php

		-
			message: "#^Method loophp\\\\nanobench\\\\BenchmarkFactoryInterface\\:\\:fromClosure\\(\\) has parameter \\$arguments with no type specified\\.$#"
			count: 1
			path: src/BenchmarkFactoryInterface.php

		-
			message: "#^Method loophp\\\\nanobench\\\\Time\\\\Stopwatch\\:\\:arrayFind\\(\\) has parameter \\$xs with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Time/Stopwatch.php

		-
			message: "#^Method loophp\\\\nanobench\\\\Time\\\\Stopwatch\\:\\:getAll\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Time/Stopwatch.php

		-
			message: "#^Method loophp\\\\nanobench\\\\Time\\\\Stopwatch\\:\\:getDiffs\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Time/Stopwatch.php

		-
			message: "#^Method loophp\\\\nanobench\\\\Time\\\\Stopwatch\\:\\:getEvent\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Time/Stopwatch.php

		-
			message: "#^Method loophp\\\\nanobench\\\\Time\\\\Stopwatch\\:\\:getEvents\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Time/Stopwatch.php

		-
			message: "#^Parameter \\#1 \\$from of class loophp\\\\nanobench\\\\Time\\\\Duration constructor expects loophp\\\\nanobench\\\\Time\\\\TimeInterface, loophp\\\\nanobench\\\\Time\\\\TimeInterface\\|null given\\.$#"
			count: 1
			path: src/Time/Stopwatch.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/Time/Stopwatch.php

		-
			message: "#^Property loophp\\\\nanobench\\\\Time\\\\Stopwatch\\:\\:\\$events type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Time/Stopwatch.php
